// Tabs Component

// Options

$iota-components-tabs                   : true;

$iota-components-tabs-namespace         : 'tabs' !default;
$iota-components-tabs-padding           : $iota-global-gutter-default !default;
$iota-components-tabs-border            : 1px solid #E2E2E2;
$iota-components-tabs-border-radius     : 4px !default;
$iota-components-tabs-background        : #F0F0F0 !default;
$iota-components-tabs-margin            : 0 2px 0 0;
$iota-components-tabs-width             : 100%;
$iota-components-tabs-font-weight       : bold;
$iota-components-tabs-font-size         : 1.3em;
$iota-components-tabs-hover-bgcolor     : #02c6f0;
$iota-components-tabs-hover-color       : #F0F0F0;
$iota-components-tabs-hover-border      : 1px solid #02c6f0;
$iota-components-tabs-hover-border-radius : 4px;


// Helper Local Variables

$iota-components-tabs-var-tabs         : $iota-global-components-namespace + $iota-components-tabs-namespace;
 
// Alert Component

.#{$iota-components-tabs-var-tabs} {
  .#{$iota-components-tabs-var-tabs}__tab {
    padding: $iota-components-tabs-padding;
    margin: $iota-components-tabs-margin;
    background-color: $iota-components-tabs-background ;
    border: $iota-components-tabs-border;
    border-radius: $iota-components-tabs-border-radius;
    font-weight: $iota-components-tabs-font-weight;
    font-size: $iota-components-tabs-font-size;
  }
  .#{$iota-components-tabs-var-tabs}__tab:hover{
    background: $iota-components-tabs-hover-bgcolor;
    color: $iota-components-tabs-hover-color;
    border: $iota-components-tabs-hover-border-radius;
  } 
  a {
    text-decoration:none;
  }
}