/**
 * Background color names
 *
 * Type: Map
 */

$utils-bgcolor-names: ();

$clay-bgcolor-names: (
    body: $background-color-body, 
    container: $background-color-container,
    primary: $background-color-primary, 
    secondary: $background-color-secondary,
    accent: $background-color-accent,
    accent-alt: $background-color-accent-alt,
    info: $background-color-info,
    danger: $background-color-danger,
    success: $background-color-success,
    warning: $background-color-warning,
    light: $background-color-light,
    dark: $background-color-dark,
);

$iota-utils-bgcolor-names: map_merge($clay-bgcolor-names, $utils-bgcolor-names);

/**
 * Namespace classes
 *
 * Type: String
 */

$iota-utils-bgcolor-namespace: 'bgcolor-';

@import 'node_modules/iotacss/utilities/bgcolor';

$clay-bgcolor-text-colors: (
    body: $background-text-color-body,
    container: $background-text-color-container,
    primary: $background-text-color-primary,
    secondary: $background-text-color-secondary,
    accent: $background-text-color-accent,
    accent-alt: $background-text-color-accent-alt,
    info: $background-text-color-info,
    danger: $background-text-color-danger,
    success: $background-text-color-success,
    warning: $background-text-color-warning,
    light: $background-text-color-light,
    dark: $background-text-color-dark
);

@each $bgcolor-name, $bgcolor-value in $iota-utils-bgcolor-names {
    
    .#{$iota-utils-bgcolor-var + $bgcolor-name} {
      color: map_get($clay-bgcolor-text-colors, $bgcolor-name);
      border: 1px solid darken(map_get($clay-bgcolor-names, $bgcolor-name),5%);
    }  
}