/**
 * Color names
 *
 * Type: Map
 */

 $text-color-body: #444444;
 $text-color-container: rgb(83, 83, 83);
 $text-color-primary: #363636;
 $text-color-secondary: #55746d;
 $text-color-accent: #50a78d;
 $text-color-accent-alt: #3ccfaf;
 $text-color-info: #398eb6;
 $text-color-danger: #ff1818;
 $text-color-success: #54d11a;
 $text-color-warning: #ff9900;
 $text-color-light: #bebebe;
 $text-color-dark: #575757;

$clay-color-names: (
    body: $text-color-body,
    container: $text-color-container,
    primary: $text-color-primary, 
    secondary: $text-color-secondary,
    accent: $text-color-accent,
    accent-alt: $text-color-accent-alt,
    info: $text-color-info,
    danger: $text-color-danger,
    success: $text-color-success,
    warning: $text-color-warning,
    light: $text-color-light,
    dark: $text-color-dark
);

$iota-utils-color-names: map_merge($clay-color-names, $utils-color-names);

/**
 * Namespace classes
 *
 * Type: String
 */

$iota-utils-color-namespace: 'color-';


@import 'node_modules/iotacss/utilities/color';
