/**
 * Color names
 *
 * Type: Map
 */

 $utils-color-names: ();

$clay-color-names: (
    body: $text-color-body,
    container: $text-color-container,
    primary: $text-color-primary, 
    secondary: $text-color-secondary,
    accent: $text-color-accent,
    accent-alt: $text-color-accent-alt,
    info: $text-color-info,
    danger: $text-color-danger,
    success: $text-color-success,
    warning: $text-color-warning,
    light: $text-color-light,
    dark: $text-color-dark
);

$iota-utils-color-names: map_merge($clay-color-names, $utils-color-names);

/**
 * Namespace classes
 *
 * Type: String
 */

$iota-utils-color-namespace: 'color-';


@import 'node_modules/iotacss/utilities/color';
