// Fieldset Component




// Options

$iota-components-fieldset                   : true;
/*
$iota-components-fieldset-namespace         : 'fieldset' !default;
$iota-components-fieldset-padding           : $iota-global-gutter-default !default;
$iota-components-fieldset-border            : 2px solid #D2D2D2 !default;
$iota-components-fieldset-border-radius     : 5px !default;
$iota-components-fieldset-background        : rgba(255, 255, 255, 0.50) !default;
$iota-components-fieldset-margin            : 35px 5px 5px;*/
$iota-components-fieldset-namespace         : 'fieldset' !default;
$iota-components-fieldset-padding           : 0 !default;
$iota-components-fieldset-border            : 1px solid rgba(6, 174, 252, 0.158) !default;
$iota-components-fieldset-border-radius     : 4px !default;
$iota-components-fieldset-background        : rgba(173, 221, 241, 0.123) !default;
$iota-components-fieldset-margin            : 5px;
/*
$iota-components-fieldset-legend-padding       : $iota-components-fieldset-padding !default;
$iota-components-fieldset-legend-border        : $iota-components-fieldset-border !default;
$iota-components-fieldset-legend-background    : $iota-components-fieldset-background !default;
$iota-components-fieldset-legend-border-radius : 10px !default;*/

// Helper Local Variables

$iota-components-fieldset-var-fieldset         : $iota-global-components-namespace + $iota-components-fieldset-namespace;

// Fieldset Component

.#{$iota-components-fieldset-var-fieldset} {
  padding: $iota-components-fieldset-padding;
  background: $iota-components-fieldset-background;
  border: none;
  border-bottom: $iota-components-fieldset-border;

  margin: $iota-components-fieldset-margin;
  position: relative;
}
/*
.#{$iota-components-fieldset-var-fieldset} legend {
  padding: $iota-components-fieldset-legend-padding;
  border: $iota-components-fieldset-legend-border;
  background: $iota-components-fieldset-legend-background;
  border-radius: $iota-components-fieldset-border-radius;
}*/

.#{$iota-components-fieldset-var-fieldset} legend {
  display: block;
  width: 100%;
  border-bottom: 1px solid rgba(6, 174, 252, 0.158);
}

.#{$iota-components-fieldset-var-fieldset} label {
  display: block;
  padding: 5px;
}