// Navbar Component

// Options

$iota-components-navbar            : true;

$iota-components-navbar-namespace  : 'navbar' !default;

$iota-components-navbar-color      : buttontext !default;
$iota-components-navbar-margin     : 0 !default;
$iota-components-navbar-padding    : 4px 6px !default;
$iota-components-navbar-border     : 1px outset buttonface !default;
$iota-components-navbar-background : linear-gradient(to right, rgba(0, 150, 135, 0.507), rgba(0, 150, 135, 0.26)) !default;
$iota-components-navbar-border-radius: 3px !default;
$iota-components-navbar-shadow     : 0px 2px 2px 0px rgba(0,0,0,0.2) !default;
$iota-components-navbar-height     :24px;

// Helper Local Variables

$iota-components-navbar-var-navbar: $iota-global-components-namespace + $iota-components-navbar-namespace;

.#{$iota-components-navbar-var-navbar}{
  width: 100%;
  background: $iota-components-navbar-background;
  display:flex;  
  flex-direction:column;
  box-shadow: $iota-components-navbar-shadow;
  line-height: $iota-components-navbar-height;
}

.#{$iota-components-navbar-var-navbar}__menu {
  margin:0;
  padding: 0 10px;
  display:flex;
  flex-flow: row wrap;
}

.#{$iota-components-navbar-var-navbar}__brand {
  
  margin: 0;
  list-style-type:none;
  a {
    text-decoration: none;
    //font-weight: bold;
    //font-size: 1.6em;
    color: black;
    display:flex;
    padding: 10px;
  }
  a:hover {
    color: gray;
  }
}

.#{$iota-components-navbar-var-navbar}__item {
  margin: 0;
  display:block;
  list-style-type:none;
  a {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.124);
    margin:0;
    display: block;
  }
  a:hover {
    background-color: rgba(255, 255, 255, 0.247);
  }
}

.#{$iota-components-navbar-var-navbar}__subitem, .#{$iota-components-navbar-var-navbar}__subitem--click {
  margin: 0;
  position: absolute;
  display: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  a {
    background-color: rgba(255, 255, 255, 0.918);
    border-bottom: 1px solid rgb(94, 74, 74);
  }
  a:hover {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(0, 255, 242);
  }
}

.#{$iota-components-navbar-var-navbar}__item:hover .#{$iota-components-navbar-var-navbar}__subitem {
  display: block;
}

.#{$iota-components-navbar-var-navbar}__item:focus .#{$iota-components-navbar-var-navbar}__subitem--click {
  display: block;
}

.#{$iota-components-navbar-var-navbar}__item .#{$iota-components-navbar-var-navbar}__subitem--bl {
  left:auto;
  right:0;
}