@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

$t_ff_u:         'Open Sans', sans-serif;   
$t_ff_primary:   'Roboto Slab', serif;
$t_fw_medium:    bold;

body{
    font-family: $t_ff_primary;
}

