// Table Component

// Options

$iota-components-table                    : true;

$iota-components-table-namespace          : 'table' !default;
$iota-components-table-striped-name       : 'striped' !default;
$iota-components-table-row-name           : 'row' !default;
$iota-components-table-cell-name           : 'cell' !default;
$iota-components-table-head-name           : 'head' !default;

$iota-components-table-padding           : $iota-global-gutter-default !default;
$iota-components-table-background        : $background-color-primary !default;
$iota-components-table-head-background        : darken($background-color-primary, 10%) !default;
$iota-components-table-row-background        : $background-color-container !default;
$iota-components-table-cell-background       : $background-color-container !default;
$iota-components-table-row-background-alt        : darken( $background-color-container, 5% ) !default;
$iota-components-table-border               : 1px solid darken($background-color-container,15%);

// Helper Local Variables

$iota-components-table-var-table         : $iota-global-components-namespace + $iota-components-table-namespace;
$iota-components-table-var-table-head  : $iota-components-table-var-table + '__' + $iota-components-table-head-name;
$iota-components-table-var-table-row  : $iota-components-table-var-table + '__' + $iota-components-table-row-name;
$iota-components-table-var-table-striped  : $iota-components-table-var-table + '--' + $iota-components-table-striped-name;

// Table Component

.#{$iota-components-table-var-table} {
  @extend .u-color-primary;
  background: $iota-components-table-background;
  width:100%;
  display: table;
}

// Table Heading

.#{$iota-components-table-var-table-head} {
  @if variable-exists('text-color-table-head'){ color: $text-color-table-head; } @else { color: invert($text-color-primary);}
  padding: $iota-components-table-padding;
  background: $iota-components-table-head-background;
  display: table-cell;
  font-weight: bold;
  text-align: center;
}

// Table Row

.#{$iota-components-table-var-table-row} {
  @extend .u-color-container;
  background: $iota-components-table-row-background;
  display: table-row;
}

// Table Alternate Row

.#{$iota-components-table-var-table-striped} tbody tr:nth-of-type(even) {
  @extend .u-color-container;
  background: $iota-components-table-row-background-alt;
}

// Table Border

.#{$iota-components-table-var-table}--border {
  .#{$iota-components-table-var-table-head},
  .#{$iota-components-table-var-table}__cell {
    border: $iota-components-table-border;
  }

}

// Table Row Cell

.#{$iota-components-table-var-table}__cell {
  @extend .u-color-container;
  padding: $iota-components-table-padding;
  display: table-cell;
}